.pageC {
    width: 100%;
    /*height: calc(100vh - 80px);          /* vh -80px; */
    height:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background: white;
  }
  .pageC h1{
    margin-top: 20px;
  }

.cadre1{
  width:66%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  margin:16px;
  box-shadow: 5px 5px 15px 5px #000000;
  margin-top: 40px;
  /*w-full lg:w-2/3 h-full lg:h-4/6 flex justify-center items-center flex-col lg:flex-row */
}
.cadre-form {
  width:50%;
  height: 90%;
  margin:16px;

  /*  w-4/5 lg:w-1/2 border shadow lg:m-16 p-4*/
}

.cadre-carte {
  width:50%;
  height: 90%;
  margin:16px;
  background-image: url('./../img/fondsFour.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /*w-1/2 h-4/6 flex m-16*/
}

.carte-iframe {
  width: 100%;
  height: 100%;
  border-style: none;
  /*w-full h-full border shadow */
}

.carte-iframe:hover {
  opacity: 1;
  /*w-full h-full border shadow */
}

.form-content{
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  position: relative;
  align-items: center;
}

label {
  color:white;
  margin-top: 20px;
  /*class="font-semibold text-gray-700 ml-2" */
}

input {
  color:grey;
  height: 30px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#not-mail {
  display: none;
  color: #ff4d4d;
  position: absolute;
  left:200px;
}

textarea {
  margin-top: 10px;
  resize: none;
  padding: 6px;
  height: 100px;
}

.btnForm{
  background: var(--second-color);
  color:var(--third-color);
  width: calc(100% - 80px);
  height: 40px;
  font-size: 1.2rem;
  margin-top: 20px;
  margin-left: 40px;
  border:none;
  border-radius:20px 20px 20px 20px;
}


.btnForm:hover{
  cursor: pointer;
  background: var(--third-color);
  color:var(--second-color);
}

.cadre2{
  width:66%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row;
  margin:16px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.horaire{
  width: 30%;
  height: 100%;
  border: 1px solid;
  text-align: center;
  box-shadow: 5px 5px 15px 5px #000000;
}

.horaire p{
  text-align: center;
  font-size: 0.8rem;
}
.horaire h3{
  margin-bottom: 20px;
}
.fontAwe{
  font-size: 5rem;
  color: var(--third-color);
}

@media screen and (max-width: 960px) {
  .cadre1, .cadre2{
    width: 100%;
    height: 1100px;
    flex-wrap: wrap;
    justify-content: start;
    box-shadow: none;
    margin-top: 10px;
  }
  .cadre-form, .cadre-carte{
    width: 98%;
    height: 48%;
    margin-top: 20px;
    box-shadow: none;
  }

  /*Formulaire */
  .form-content{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }

  .horaire{
    width: 98%;
    height: 30%;
    margin-top: 20px;
    box-shadow: none;
    margin:16px;
  }
  .fontAwe{
    font-size: 3rem;
    color: var(--third-color);
  }
}


/* ajout pour formulaire */
/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:20px; 
  width: 100%;
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:-10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-30px;
  font-size:14px;
  color:var(--third-color);
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width: 100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:var(--third-color);
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

/* Fin ajout */

/* Formulaire TextArea*/

.paper {
  position: relative;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
}


.paper-content {
  position: absolute;
  top: 0; right: 0; bottom: 20px; left: 0;
  background: linear-gradient(transparent, transparent 28px, #999 28px);
  background-size: 30px 30px;
}

.paper-content textarea {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  line-height: 20px;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  z-index: 1;
}

textarea {
  color:var(--third-color);
  font-size:18px;
  font-weight:bold;
}

textarea::placeholder {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  top: 10px;
}
/* Fin textarea */

/* test bouton */
input[type="submit"] {

  display: inline-block;
  border: none;
  background: var(--second-color);
  color:var(--third-color);
  width: 100%;
  height: 40px;
  font-size: 1.2rem;
  border:none;
  border-radius:20px 20px 20px 20px;
  cursor: pointer;

  position: relative;
  text-decoration: none;
  text-align: center;
  padding-top: 6px;

}

input:focus {
  outline: none;
}
/* hover-center 1 css */

input.hover-center-1 {
  background-image: linear-gradient(0, var(--third-color), var(--third-color));
  background-size: 0;
  transition: .8s;
  background-repeat: no-repeat;
  background-position: bottom;
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

input.hover-center-1:hover {
  background-size: 100%;
  color: #fff;
}

@media screen and (max-width: 960px) {

  .cadre1{
    height: 100%;
  }
  .cadre-carte {
    display: none;
  }
}